<!DOCTYPE html>
<html>
<head>
	<title>MemeTube</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mouse+Memoirs" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
	<div class="container">
		<h1 id="logo"><span id="m">Meme</span><span id="t">Tube</span><i class="fa fa-bullseye" aria-hidden="true"></i></h1>
		<a id="home" href="/videos">Home</a>
		<a id="upload" href="/videos/new">Upload a new video</a>
		<hr>
		<%= yield %>
	</div>
</body>
</html>