<!DOCTYPE html>
<html>
<head>
	<title>Memetube</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mouse+Memoirs" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1>MemeTube</h1>
		<a href="/videos/new">Create a new post</a>
		<%= yield %>
		<a href="/videos">Home</a>
	</div>
</body>
</html>